{% extends './layouts/main.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<h3>Оформить заказ</h3>
    <form method="post" action="/order/create">
        <input name="name" placeholder="Номер телефона"><br><br>
        <input name="email" placeholder="email"><br><br>
        <input type="submit">
    </form>	
	

{% endblock %}